body{
    margin:0px;
    font-family:sans-serif;
}
ul{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    gap: 10px;
}
a,.heroSecondaryText{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:0px 150px 0px 150px;
    align-items: center;
    background-color: #1f2937;
}
.heroImage{
    width: 400px;
    height: 239px;
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
}
.HeaderLogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight:bolder;
}
.hero{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 20px;
}
.firstSection{
    display: flex;
    flex:1;
    padding:20px 150px 20px 150px;
    align-items: center;
    background-color: #1f2937;
}
.imageContainer{
    flex: 1;
    text-align: center;
}
.heroText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}
button{
    background-color: #3882F6;
    border:none;
    border-radius: 4px;
    color: #f9faf8;
    width: 100px;
    height: 30px;
}
.secondSection{
    background-color: #f9faf8;
}
.headerInfo{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.fourImages{
    display: flex;
    justify-content: center;
    gap:100px;
}
.fText{
    width: 200px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    padding-left: 5px;
}
.fImages{
    border: 5px solid #3882F6;
    border-radius: 10px;
}
